.roadmapCompOne{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    align-items: center;
    color: white;
}
.roadmapCompTwo{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    color: white;
}



.roadmappercentage{
    width: 50px;
    height: 50px;
    background-color: rgb(78, 196, 78);
	border-radius: 50% 50%;
}

.roadmappercentage2{
    border-radius: 50% 50%;
    width: 50px;
	background-color: rgb(78, 196, 78);
	height: 50px;
}


.blabla{
    margin-top:160px;
}




.road-title {
    padding-top: 10%;
    /* margin-bottom: 150px; */
}
.backgroundRoadmap{
    background-color: black;
    margin-top: 10%;

}
.road-title h1{
    text-align: center;
    font-size: 2.5rem solid bold;
    color: white;
    /* margin-bottom: 20%; */
    font-family: 'Chakra Petch', sans-serif;
}
/* .container2{
    background-image:url(../../assets/roadmap-line.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size:inherit;
    height: 150vh; */
/* } */

.roadmap {
    background-image:url(../../assets/roadmap-line.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    position:static;
    background-size: 29vh;
    margin-top: -180px;
    padding-top: 10%;
    padding-bottom: 18%;
}



.content-img img {
    width: 210px;
    border-radius: 50%;
    border: 8px solid #030e01;
    box-shadow: 0 0 0 4px #070f2c
    
}

.content-textCard p{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 5%;
    text-align: left;
}

.content-textCard h3{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 10%;
    text-align: left;
}

.content-textCard {
    background-color: #171010;
    width: 28rem;
    border-radius: 15px;
    border: 8px solid #030e01;
     box-shadow: 0 0 0 1px #004800;
}


.myCircle{
    width: 50px;
    height:50px;
    padding: 19px;
    border-radius: 50% 50%;
    position:relative;
    z-index: 9999;
    /* align-self: center; */
    background-color: rgb(78, 196, 78);
}

.myCircle p {
    /* margin-top: -35%;
    margin-left: -70%; */
    font-size: small;
    font-family: 'Chakra Petch', sans-serif;
}

.roadmap-content1 {
    margin-top: 10%;
}

.timeline1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 180px;
}


.roadmap-content2 {
    margin-top: 10%;
}


.timeline2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 15%;
}

.roadmap-content3 {
    margin-top: 15%;
}

.timeline3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20%;
}

.roadmap-content4 {
    margin-top: 3%;
} 

.timeline4 {
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 13%;
}



@media (max-width:900px) {
    .roadmap{
        background-image: none;
        margin-top: 0;
        
    }
    .content-img{
        margin-left: 30px;
        align-items: center !important;
    }
    .roadmappercentage{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmappercentage2{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmapCompOne{
        flex-direction: column;
    }
    .roadmapCompTwo{
        flex-direction: column-reverse;
    }
    .content-textCard{
        border: 1px solid rebeccapurple;
        margin-left: -100px !important;
        width: 31rem !important;
        padding:0 10px;
        /* margin: 0 auto !important; */
        align-items: center !important;
    }
    
}
@media (max-width:700px) {
    .roadmap{
        background-image: none;
        
    }
    .blabla{
        margin-top:50px;
    }
    .content-img{
        margin: 0 auto;
        width: 100%;
        align-items: center !important;
    }
    .roadmappercentage{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmappercentage2{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmapCompOne{
        flex-direction: column ;
    }
    .roadmapCompTwo{
        flex-direction: column-reverse;
    }
    .content-textCard{
        border: 1px solid rebeccapurple;
        margin-left: -100px !important;
        width: 30rem !important;
        /* margin: 0 auto !important; */
        align-items: center !important;
    }
    
}
@media (max-width:480px) {
    .roadmap{
        background-image: none;
        
    }
    
    .content-img{
        margin-left:70px;
        width: 100%;
        align-items: center !important;
    }
    .roadmappercentage{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmappercentage2{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmapCompOne{
        flex-direction: column ;
    }
    .roadmapCompTwo{
        flex-direction: column-reverse;
    }
    .content-textCard{
        border: 1px solid rebeccapurple;
        margin-left: -100px !important;
        width: 20rem !important;
        padding: 0 10px;
        align-items: center !important;
    }
    .content-textCard h3{
        font-size:large;
    }
    .content-textCard p{
        font-size:small;
    }
    
}
@media (max-width:428px) {
    .roadmap{
        background-image: none;
        
    }
    .content-img{
        margin-left:40px;
        width: 100%;
        align-items: center !important;
    }
    .roadmappercentage{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmappercentage2{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmapCompOne{
        flex-direction: column ;
    }
    .roadmapCompTwo{
        flex-direction: column-reverse;
    }
    .content-textCard{
        border: 1px solid rebeccapurple;
        margin-left: -120px !important;
        width: 21rem !important;
        /* margin: 0 auto !important; */
        /* align-items: center !important; */
    }
    .content-textCard h3{
        font-size:large;
    }
    .content-textCard p{
        font-size:small;
    }
    
}
@media (max-width:415px) {
    .roadmap{
        background-image: none;
        
    }
    /* .backgroundRoadmap{
        margin-top: -310px !important;
    } */
    .content-img{
        margin-left:30px;
        width: 100%;
        align-items: center !important;
    }
    .roadmappercentage{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmappercentage2{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmapCompOne{
        flex-direction: column ;
    }
    .roadmapCompTwo{
        flex-direction: column-reverse;
    }
    .content-textCard{
        border: 1px solid rebeccapurple;
        margin-left: -130px !important;
        width: 21rem !important;
        /* margin: 0 auto !important; */
        /* align-items: center !important; */
    }
    .content-textCard h3{
        font-size:large;
    }
    .content-textCard p{
        font-size:small;
    }
    .roadmap-card{
        margin-left: -1% !important;
   
    }
}
@media (max-width:375px) {
    .roadmap{
        background-image: none;
        
    }
    .content-img{
        margin-left:15px;
        width: 100%;
        align-items: center !important;
    }
    .roadmappercentage{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmappercentage2{
        align-items: center !important;
        margin: 20px auto !important;
        
    }
    .roadmapCompOne{
        flex-direction: column ;
    }
    .roadmapCompTwo{
        flex-direction: column-reverse;
    }
    .content-textCard{
        border: 1px solid rebeccapurple;
        margin-left: -130px !important;
        width: 21rem !important;
        /* margin: 0 auto !important; */
        /* align-items: center !important; */
    }
    .roadmap-card{
        margin-left: -3% !important;
   
    }
    .content-textCard h3{
        font-size:large;
    }
    .content-textCard p{
        font-size:small;
    }
    
}

@media (max-width:320px) {
    .road-title h1{
        margin-top: 20%;
        margin-bottom: 2%;
    }

    .content-img img {
        width: 120px;
    }

    .content-img {
        margin-left:-1%;
    }

    .content-textCard {
        /* max-width: 220px; */
        width: 280px !important;
        margin-bottom: 25%;
    }

    .roadmap-card{
        margin-left: -8% !important;
   
    }

    .roadmap-content-card {
        margin-left: 3% !important;
        padding: 0 20px;
    }

}


@media (max-width:375px) {
    .road-title {
        margin-top: 90%;
        margin-bottom: 2%;
    }

    .content-img img {
        width: 150px;
        background-position: center;
        margin-left: 40%;
        margin-bottom: 5%;
    }

    .content-textCard {
        max-width: 250px;
        margin-bottom: 25%;
    }

    .roadmap-card{
        margin-right: 5%;
    }

    .roadmap-content-card {
        margin-right: -18%;
    }
}


@media (max-width:425px) {
    .road-title {
        margin-top: 80%;
        margin-bottom: 2%;
    }

    .content-img img {
        width: 190px;
        background-position: center;
        margin-left: 19%;
        margin-bottom: 5%;
    }

    .content-textCard {
        max-width: 300px;
        margin-bottom: 20%;
    }

    .roadmap-card{
        margin-right: 2%;
    }

    .roadmap-content-card {
        margin-right: -8%;
    }

    .content-textCard h3, p {
        margin-left: 3%;
    }
}

@media (max-width:768px) {
    .road-title h1 {
        margin-top: 20%;
        margin-bottom: 2%;
    }

    .content-img img {
        width: 250px;
        background-position: center;
        margin-left: 15%;
        margin-bottom: 5%;
        margin-top: -45%;
    }

    .content-textCard {
        max-width: 400px;
        margin-bottom: 40%;
    }

    .roadmap-card{
        margin-left: 5%;
    }

    .roadmap-content-card {
        margin-right: -12%;
    }

    .content-textCard h3, p {
        margin-left: 3%;
    }
}


@media (min-width:1024px) {
    .road-title h1 {
        margin-top: 5%;
    }

    
}


@media (min-width:1440px) {

    .road-title {
        margin-top: -20%;
        margin-bottom: -20%;
    }

    .roadmap {
        margin-top: 15%;
        background-attachment: absolute;
    }

    .roadmapCompOne {
        margin-top: 20%;
    }

    .content-img {
        margin-top: -25%;
    }

    .roadmap-content-card {
        margin-top: -15%;
    }
}