.road-title {
    padding-top: 10%;
    margin-bottom: -150px;
}
.backgroundRoadmap{
    background-color: black;

}
.road-title h1{
    text-align: center;
    font-size: 2.5rem solid bold;
    color: white;
    /* margin-bottom: 20%; */
    font-family: 'Chakra Petch', sans-serif;
}


.roadmap {
    background-image:url(../../assets/roadmap-line.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 18%;
}



.content-img img {
    width: 220px;
    border-radius: 50%;
    border: 8px solid #030e01;
    box-shadow: 0 0 0 4px #070f2c
    
}

.content-textCard p{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 5%;
    text-align: left;
}

.content-textCard h3{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 10%;
    text-align: left;
}

.content-textCard {
    background-color: #171010;
    width: 28rem;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    border: 8px solid #030e01;
     box-shadow: 0 0 0 1px #004800;
}


.myCircle{
    width: 50px;
    height:50px;
    padding: 19px;
    border-radius: 50% 50%;
    /* align-self: center; */
    background-color: rgb(78, 196, 78);
}

.myCircle p {
    margin-top: -35%;
    margin-left: -70%;
    font-size: small;
    font-family: 'Chakra Petch', sans-serif;
}

.roadmap-content1 {
    margin-top: 10%;
}

.timeline1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20%;
}


.roadmap-content2 {
    margin-top: 10%;
}


.timeline2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 15%;
}

.roadmap-content3 {
    margin-top: 15%;
}

.timeline3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20%;
}

.roadmap-content4 {
    margin-top: 3%;
} 

.timeline4 {
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 13%;
}


@media (max-width:900px) {
    .roadmap{
        background-image: none;
        
    }
    .timeline1{
        align-items: center !important;
        flex-direction: column;
    }
    .timeline2{
        align-items: center !important;
        flex-direction: column;
    }
    .timeline3{
        flex-direction: column;
        align-items: center !important;
    }
    .timeline4{
        align-items: center !important;
        flex-direction: column;
    }
}