html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
/* .contentStaking{
  margin-left: 90px;
} */
.stakeMessage{
  border-radius: 20px;
  width: 50%;
  height: 30px;
  background-image: linear-gradient(to right, #5a3f37, #2c7744);
  color:white;
}
.stack-main {
  background-image: url("/src/assets/bg.png");
  background-size: cover;
  margin-right: auto;
  width: 100%;
  height:140vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 4rem;
  padding-right: 20px;
  align-items: center;
}

.btn-main {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
}

.stake-btn {
  display: flex;
  justify-content: space-around;
}

.card-btn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 2px 8px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 7px;
}

.card-btn1 {
  display: flex;
  justify-content: space-around;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-top: 7px;
  align-items: left;
}
.button37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button37:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.button-row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.bg-green {
  width: 200px;
  background-color: #13aa52;
  border-radius: 10px;
}