.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordian {
  width: 500px;
  font-family:'Poppins', sans-serif;
}

.item {
  background: lightgray;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.faq-style h1{
  font-size: 2.5rem;
}

.title {
  color:#0d0c0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title h3 {
  color: black;
  font-size: 1rem;
  font-style: 5px solid bold;
  padding-top: 10px;
}

.content {
  color:#e3e1e0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  font-family:'Poppins', sans-serif;
}

.faq-style p {
  font-size: 1.2rem;
  font-family:'Poppins', sans-serif;
}

.content-ans {
  background-color: white;
  padding:  8px 10px 0px;
  margin-bottom: -10px;
  margin-right: -20px;
  margin-left: -20px;
  text-align: left;
  font-family:'Poppins', sans-serif;
  font-size: 0.8rem;
}

@media only screen and (max-width: 400px) {
  #faq{
    flex-direction: row-reverse;
  }
  
}
@media only screen and (max-width: 370px) {
  #faq{
    flex-direction: row-reverse;
  }
  .faq-style p {
    font-size: 1rem;
    font-family:'Poppins', sans-serif;
  }
  .faq-style h1 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family:'Poppins', sans-serif;
  }
  
}






























/* .question-section {
    background: transparent;
    background-color: lightgray;
    border: solid lightgray;
    border-radius: 3px; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    /* cursor: pointer;
    width: 35vw;
    height: 5vw;
  } */
  
  /* .question-align {
    align-items: center;
    display: flex;
    min-height: 10px;
    text-align: left;
  }
  
  .question-align h5 {
    margin-left: 8px;
  }
  
  .question-styling {
    font-size: 10px;
    width: 100%;
  }
  
  .question-icon {
    background: none;
    border: none;
    color: #1b6aae;
    cursor: pointer;
    font-size: 22px;
    margin-left: auto;
    margin-right: 8px;
  }
  
  .rotate {
    transform: rotate(45deg);
  }
  
  .answer-divider {
    border-top: 1px solid lightgray;
  }
  
  .answer {
    margin-left: 8px;
    margin-right: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
  }
  
  .faq-style p {
    font-size: 0.9rem;
  } */