.circle{
    width: 100px;
    height:100px;
    padding: 20px;
    border-radius: 50% 50%;
    background-color: green;
}
.dashline{
    margin-top: 40px;
    width: 518px;
    height: 0px;
    border: 1px dashed green;
}
.card1{
    border: 1px solid #D9D9D9;
}
.meet{
    min-width: fit-content;
    margin-right: -8rem;
}