
.nftimage{
    height: 250px;
    padding: 7%;
/* border-radius: !important; */
    border-radius: 10% !important;
}
.cardDdeck{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.cardsdesign{
    height: fit-content;
    border: 1px solid rgb(37,37,37);
}
#dbutton{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: max-content;
    
}
.lease-main{
  align-items: center;
  padding-left: 20px;

}
.leaseMessage{
  border-radius: 20px;
  width: 50%;
  height: 30px;
  background-image: linear-gradient(to right, #5a3f37, #2c7744);
  color:white;
}
.dot{
    height: 15px;
    padding: 2px;
    margin-top: -2px;
}
#dropdown123 {
    position: relative;
    display: inline-block;
    margin-top: 3rem;
    /* margin-left: -6rem; */
    margin-left: -12rem;
    background-color: #6AB42F;
    color: black;
    margin-bottom: auto;
  }
  h3{
      color: antiquewhite;
  }
.dropdown {
    position: relative;
    display: inline-block;
    /* margin-top: 3rem; */
    /* margin-left: -6rem; */
    /* margin-left: -9rem; */
    /* background-color: #6AB42F; */
    color: black;
  }
  #usericon{
      color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #080D07;
    min-width: -webkit-fill-available;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:10px 16px;
    z-index: 1;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media (max-width : 1261px) {
    .cardDdeck{
        grid-template-columns: repeat(3,2fr) !important;
    }
  }
@media (max-width : 810px) {
    .cardDdeck{
        grid-template-columns: repeat(2,2fr) !important;
    }
  }
@media (max-width : 678px) {
    .cardDdeck{
        grid-template-columns: 1fr !important;
    }
  }