@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');



.Container12 {
  font-size: x-large;
  font-family: 'Chakra Petch', sans-serif;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 130vh !important;
  background-image:url(../../images/crazy-minting-nft.png);
  background-position: bottom !important;
  /* background-position-y: bottom !important; */
  background-repeat: no-repeat;
}

.grUxXV {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  direction: ltr;
  height: -webkit-fill-available;
  margin-top:-3rem;
}
.pag123{
  flex-direction: column;
}
.paginnationcom1{
  /* margin-top: -57% !important;
  margin-right: -20% !important; */
  font-weight: 900;
  font-size: 3.3vw;
  margin-bottom: 120px;
  max-width: -webkit-fill-available !important;
}
#head{
font-family: 'Chakra Petch', sans-serif;
margin: 25px;
margin-top: 25px;
margin-right: 25px;
text-align: center;
/* margin-top: -25rem; */
margin-right: -20rem;
font-weight:900;
font-size: xx-large;
}

/* .card{
  position:fixed;
  width: 80px;
  height: 5px;
  margin-bottom: -20rem;
 margin-left:-117rem;
} */

/* .image{
  width: 300px;
  height: 300px;
} */
.image:hover{
  border: 15px solid white !important;
  border-radius: 50% !important;

}
.rec.rec-arrow-left,
.rec.rec-arrow-right{
    background-color: white;
    /* box-shadow: 0 0 1px 3px var(--clr-primary-400); */
}
.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled{
    background-color: green;
    /* box-shadow: 0 0 1px 3px var(--clr-primary-400); */
}


.lhFzqP {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  background-color:green;
  color:green;
  box-shadow: 0 0 2px 0px white;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  outline: none;
}
/* .eWjCzc:hover:enabled, .eWjCzc:focus:enabled {
  color: rgb(255, 255, 255);
  background-color: green;
  box-shadow: rgb(51 51 51) 0px 0px 2px 0px;
} */
@media only screen and (max-width:1440px) {
  .Container12{
    height: 105vh;
  }
}
@media (max-width:1370px) {
  .Container12{
    height: 123vh;
  }
}
@media (max-width:1280px) {
  .Container12{
    height:95vh !important;
  }
}
@media (max-width:1100px) {
  .Container12{
    height: 50vh !important;
  }
}
@media (max-width:850px) {
  .Container12{
  font-size: x-large;
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-image: url(http://localhost:3000/static/media/crazy-minting-nft.1680a0b….png);
    background-position: bottom;
}
}
@media (max-width:480px) {
  .paginnationcom1{
    font-size: 1em !important;
    font-weight: 900 !important;

  }
.Container12 {
  height: 62vh !important;
  margin-bottom: 4rem !important;
}
}
@media (max-width: 375px){
.Container12 {
    height: 77vh !important;
}
}